.search-bar{
  background: rgba(0,0,0, 0.1);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3em 0;

  input{
    border: 0;
    padding: 0.5em;
    flex-grow: 2;
    font-size: 14px;
    background: transparent;
    transition: 0.3s background ease-in-out;
    &:focus{
      outline: 0;
      background: #e8e8e8;
    }
  }

}
