section{
  display: flex;
  background: whitesmoke;
  align-items: center;
  justify-content: space-between;

  &:hover{
    cursor: pointer;
    opacity: 0.8;
  }

  .actions{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 1em;
  }

  .sender{
    display: flex;
    font-weight: 500;
    white-space: nowrap;
    min-width: 200px;
  }

  .body{
    display: flex;
    flex-grow: 1;

    .subject{
      font-weight: 800;
      color: #383838;
      padding: 0 1em;
    }

    .body-preview{
      font-style: italic;
      padding-right: 1em;
      text-align: right;
    }

  }
}

.centered{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8em;
}

@media only screen and (max-width: 915px) {
  .body-preview {
    display: none;
  }
}

@media only screen and (max-width: 690px) {
  .subject {
    display: none;
  }
}
